###
# Unity folders and files
###
DidascaliasVR/[Aa]ssets/AssetStoreTools*
DidascaliasVR/[Bb]uild/
DidascaliasVR/[Ll]ibrary/
DidascaliasVR/[Ll]ocal[Cc]ache/
DidascaliasVR/[Oo]bj/
DidascaliasVR/[Tt]emp/
DidascaliasVR/[Uu]nityGenerated/
DidascaliasVR/[Uu]ser[Ss]ettings/

ClassroomVR/[Aa]ssets/AssetStoreTools*
ClassroomVR/[Bb]uild/
ClassroomVR/[Ll]ibrary/
ClassroomVR/[Ll]ocal[Cc]ache/
ClassroomVR/[Oo]bj/
ClassroomVR/[Tt]emp/
ClassroomVR/[Uu]nityGenerated/
ClassroomVR/[Uu]ser[Ss]ettings/
ClassroomVR/[Uu]ser[Ss]ettings/

videos

# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

# log
*.log


# llm unity -> pesa mucho. lo subiremos cuando lo tengamos en online
[Aa]ssets/StreamingAssets/LlamaLib-v2.0.5
DidascaliasVR/[Aa]ssets/StreamingAssets/LlamaLib-v2.0.5

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
# Carpeta que se genera por cada usuario. No se sube al repo
**/.vs/*
**/.vscode/*
ClassroomVR/.vs
DidascaliasVR/.vs

**/user/*

**/*.aux
# **/*.pdf
**/*.synctex.gz
**/*.toc

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

###
# apk
###
*.apk
DidascaliasVR/Assets/StreamingAssets 1/id_ed25519
DidascaliasVR/Assets/StreamingAssets 1/id_ed25519.meta
DidascaliasVR/Assets/StreamingAssets/id_ed25519.meta
DidascaliasVR/Assets/StreamingAssets/id_ed25519
