{"configSettings":[{"appID":"SharedServerToken","serverToken":"JJL7TGQR7KEDZOTNI5BV5N7U2FU265HY"},{"appID":"1539749049803011","serverToken":"DIRORT2NF5BS4HFU244KUS6XC3VUXJRK"},{"appID":"814981232902857","serverToken":"545QZO6C67ZTJQPTS66COO4QCPWCEET3"},{"appID":"1727234757643392","serverToken":""},{"appID":"voiceSDK_en","serverToken":""},{"appID":"voiceSDK_es","serverToken":""},{"appID":"246547474495948","serverToken":"JJL7TGQR7KEDZOTNI5BV5N7U2FU265HY"}]}